.secao_motivo
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    padding: 0 3%;
}

.lista_secao
{
    font-size: 20px;
}

.lista_item
{
    padding: 10px 0;

    font-size: 20px;
}

.secao_div
{
    width: 50%;
}

.titulo_secao
{
    padding: 10px 0;

    font-size: 50px;
}

.secao_imagem
{
    width: 30%;
}